*{
 margin: 0;
 padding: 0;
 font-family: 'josefin sans',sans-serif;
 scroll-behavior: smooth; 
 box-sizing: content-box;
 border: 1px solid salmon; 
}
html{
    position: relative;
}
.hero {
    position: relative;
    width: 100%; 
    background-image: url("../img/bgg.png");
    background-repeat: no-repeat;
    background-position: 100% ;
      
} 
nav{
    display: flex;
    width:84%;
    margin:  2%;
    padding: 23px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style:none ;
    margin: 10px 10px;
    padding-right:5px;
}
nav ul li a{
    text-decoration:none;
    color: azure;
    font-weight: bold;
    transition:.2s;
}
nav ul li a:hover{
    color: rgb(228, 6, 6);
    padding: 10px 20px;
    margin: 1px;
    border-radius: 25px;
    border: 2px solid;
    border-color: white;
    background-color: rgb(215, 241, 240);
    
}
.dete1{ 
    margin-left: 2%;
    margin-top: 10%;
}
.dete1 h1{
    font-size:50px;
    color: firebrick;
    margin-bottom:20px;
}
span{
    color: goldenrod;

}
.dete1 p {
    color: #555;
    line-height: 22px;

}
.dete1 a{
background: #212121;
padding:10px 18px;
text-decoration:none;
font-weight: bold;
color: honeydew;
display: inline-block;
margin: 30px 0;
border-radius: 30px;
box-shadow: 3px 1px 6px  rgb(187, 32, 84);
transition:.2s;
}
.dete1 a:hover{
background-color: rgb(187, 32, 84);
transform: scale(1.1)
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 5%;
    bottom: 2;
    border-radius: 6%;
}
/* ==================== reseaux sociaux ===================*/
.block-reseau{
width: 3.5%;
height: 250px;
border: 2px solid rgba(51, 111, 243, 0.842) ;
border-radius: 50px;
box-shadow: 0 1px 4px rgba(0,0,0,0.25);
margin: auto;
position: fixed;
right:5px;
top:40%;
z-index: 1;
}
.block-icon{
    height: 60px;
    text-align: center;
    font-size: 19px;
    margin: 9px;
    color:  rgb(218, 160, 14);
    cursor: pointer;
}
.fa-twitter{
    color: #00adef;
}
 .fa-instagram{
    color:  rgb(218, 160, 14); 
 } 
.fa-linkedin-in{
    color: rgb(218, 160, 14) ;
}
.fa-facebook-f{
    color: rgb(218, 160, 14);
}

/*===================================== section about ==========================================*/
.about{
    width: 100%;
    background-color: teal;
}
.about img{
    height: 550px;
    width:  auto;
    padding:10px;
}
.text{
    width: 50%;
}
.principal{     
    display: flex;
}
.text h2{
    font-size: 75px;
    text-transform:capitalize ;
    margin-bottom: 20px;
}
.text h5{
    letter-spacing: 1px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.text p{
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    overflow:hidden;
    

}
button{
    background:orange;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition:.4s;
    color: black;
    font-size: 15px;
}
 .text{
    margin-top: 10%;
    margin-left:5%;
}
button:hover{
    transform: scale(1.4);
    cursor: pointer;
}
 .about img h5 p{
     padding: 5px;
 } 
 /* ============================================================================== service =========================================*/
 .service{
     background:wheat;
     width: 100%;
     page-break-after: 100px 0px;

 }
 .title{
     font-size: 40px;
     width: 100%;
     margin: 5px;
     text-align: center ;
     padding-top: 10px;
 }
 .title h2{
     background: white;
     margin-top: -10px;
 }
 .box{
     display: flex;
     justify-content: center;
     align-items:center;
     min-height: 480px;   
 }
 .icon{
     height: 360px;
     width: 335px;
     padding: 20px 35px ;
     background: #191912;
     border-radius: 20px;
     margin: 15px;
     position: relative;
     overflow: hidden;
     text-align: center;
 }
 .icon i{
     font-size: 50px;
     display: block;
     text-align: center;
     text-align: center;
     margin:25px 0px;
     color:  rgb(213, 196, 230);

 }
 .txt p{
     color: rgba(96, 211, 163, 0.8);
     font-size: 16px;
     line-height: 27px;
     margin-bottom: 25px;

 }
 h5{
     color: cornsilk;
     font-size: 24px;
     margin-bottom: 15px;
 }
 .txt .button{
    background:orange;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 20px;
    border-radius: 30px;
    transition:.4s;
    color:white;
    font-size: 15px
 }
 .txt .button:hover{
     background-color: transparent;
     border: 2px solid orange;
     cursor: pointer;
     color: white;
 }
 /*============================================================== skills & projet=================================================*/
 .skills{
     width: 500px;
     margin: 10px auto;
     color: indianred;
     padding: 20px;
     box-shadow: 0 14px 25px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
     background:rgb(241, 252, 251);
    } 
 .skills h1{
      text-align: center;   
  }
  .skills h3{
      margin: 5px;
      position: relative;
  }
  .skills li{
      margin: 20px 0;
      padding:10px;
      list-style-type: none;
  }
  .bar{
      background: #353b48;
      display: block;
      height: 20px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,.1);   
  }
  .bar:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
  }
  .bar span{
      height:20px;
      float: left;
      background: linear-gradient(135deg, rgba(236,0,140,1)0%, rgba(252,103,103,1)100%);
  }
  .html{
      width: 96%;
      animation: html 3s;
  }
    .css{
      width: 95%;
      animation: css 3s;
  }
    .php{
      width: 87%;
      animation: php 3s;
  }
    .javascript{
      width: 97%;
      animation: javascript 3s;
  }
    .MySQL{
      width: 93%;
      animation: MySQL 3s;
  }
    .skills .pourcentage{
     list-style:4px;
     position: sticky;
     padding-left: 90%;
     color: rgb(150, 75, 5);
     margin-top: -22px;
  }
  @keyframes html{
      0%{
          width: 0%;
      }
      100%{
          width: 96%;
      }
  }
   @keyframes css{
      0%{
          width: 0%;
      }
      100%{
          width: 95%;
      }
  }
   @keyframes php{
      0%{
          width: 0%;
      }
      100%{
          width: 87%;
      }
  }
   @keyframes javascript{
      0%{
          width: 0%;
      }
      100%{
          width: 97%;
      }
  }
   @keyframes MySQL{
      0%{
          width: 0%;
      }
      100%{
          width: 93%;
      }
  }
  .boss{
      background: #000;
  }
  /*================================================= projet======================================*/
.projet{
    background:rgb(58, 41, 11);
    width: 100%;
    page-break-after: 100px 0px;
    height:400px;
}

.enfant{
    width: 100%;
    text-align: center;
    height:50px;
}
.bos1{
border: 2px solid;
width: 32%;
height: 300px;
float: left; 
}
.bos1 img{
width:100%;
height: 300px;
cursor: pointer;
}
.bos2{
border: 2px solid;
width: 32%;
height: 300px;
float: right;
}
.bos2 img{
width:100%;
height: 300px;
cursor: pointer;

}
.bos3{
border: 2px solid;
width: 32%;
height: 300px;
float: right;
}
.bos3 img{
width:100%;
height: 300px;
cursor: pointer;
}
.bos{
   margin-left :2px;
   display: flex;
}
.defile{
   text-align: center;
   bottom: 0; 
}
  /*=============================================== contact me==================================================*/
  .contact{
   width: 100%;
   height: 290px;
  background: #191919;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact p{
color: wheat;
font-size: 30px;
font-weight: bold;
margin-bottom: 25px;
}
.contact .button{
    background:orange;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition:.4s;
    color: black;
}
.contact .button:hover{
    transform: scale(1.4);
    cursor: pointer;
}
/* ================================================== FOOTER ===================================*/
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background-color:#101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: wheat;
    mask-border: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: wheat;
    font-size: 17px;
    width: 90%;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50px;
    margin: 22px 10px;
    text-decoration: none;
    font-size: 20px;
    transition: .2s;   
}
.social a:hover{
    transform: scale(1.3);
    transition:.3s; 
}
.social a i{
    color: white;
}
.finish{
    position: absolute;
    color: rgba(237, 243, 243, 0.788) ;
    bottom:  35px;
    font-size: 14px;
}
/*========================================================responsiviter===========================*/
@media screen and (max-width:850px){
    body{
        width: 480px 100%;
        font-size: 90%;
         height: 600px;
    }
  header{
      width:100% ;
  }
  .block-reseau{
    display: none;
}
  .images{
      display: none;
  } 
  .principal{
      display:grid;
      width: 70%; 
      padding-left:7%;
  }
  button{
    background:orange;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    border-radius: 30px;
    transition:.4s;
    color: black;
    font-size: 15px; 
    margin-left: 50px;
    margin-top: -20px;
    margin-bottom: 13px;

}
  .about img{
    min-height: 400px;max-height: 800px;
    width:100%;
    
}
.text{
    width: 80%;
}
.title h2{
    margin-right: 4px;
}
.projet{
     height: 1000px;

}
.box{
    display: grid;
}
.master{
    display: grid;
}
.bos{
    width: 100%;
    padding: 5px;
}
.bos1{
    border-right-width: 0px;
    padding-right: 0px;
    margin-left: 0px;
    border-left-width: 0px;
    padding-left: 0px
}
.bos1 img{
    margin-left: 11px;
}
.bos2{
    border-right-width: 0px;
    padding-right: 0px;
    margin-left: 0px;
    border-left-width: 0px;
    padding-left: 0px
}
.bos3{
    border-right-width: 0px;
    padding-right: 0px;
    margin-left: 0px;
    border-left-width: 0px;
    padding-left: 0px
}
nav{
    display: grid;
    width:95%;
    margin: 0px;
    padding-left:10px;
}
.logo{
    margin-left: 40%;
    padding-bottom: 15px;
}
}

@media screen and (max-width:500px){
    .principal{
        display:grid;
        width: 80%; 
    }
    .box{
        display: grid;
    }
    .skills{
        width: auto;
        font-size:100% ;
    }
    nav{
        display: grid;
    }
    .logo{
        margin-left: 40%;
        padding-bottom: 15px;

    }
}
